<div class="admin-projects">
    <div class="admin-top">
        <div class="admin-head-page-title">Admin Area</div>
        <div class="admin-menu">
            <ul>
                <li><%= link_to("Certificates" , certificates_path()) %></li>
                <li><%= link_to("Projects" , projects_path()) %></li>
            <% unless @user %>
                <li><%= link_to('Login', access_login_path()) %></li>
            <% else %>
                <li><%= link_to("Applications" , job_applications_path()) %></li>
                <li><%= link_to("Logout #{@user.first_name}" , access_logout_path()) %></li>
            <% end %>
            </ul> 
        </div>
    </div>
    <div class="project-list">
        <div class="admin-menu-title">Applications</div>
        <%= content_tag(:div, link_to("+ New Application", new_job_application_path()), class: "project-title") %>
 
        <% @allapps.each do |app| %>
            <% if app.id == @app.id%>
                <div class='project-title selected'><%= link_to("#{app.company} - #{app.position_applied} - #{app.trackers.size}", job_application_path(app.id)) %></div>
            <% else %>
                <div class='project-title'><%= link_to("#{app.company} - #{app.position_applied} - #{app.trackers.size}", job_application_path(app.id)) %></div>
            <% end %>
        <% end %>
        
        <div class="admin-menu-title">None Click Trackers</div>
 
        <% @tsObs.each do |t| %>

            <div class='project-title'><%= "#{t[:ip]} - #{t[:cnt]}" %></div>

        <% end %>
    </div>
    <div class='admin-project'>
    <%= form_for(@app) do |f| %>
        <%= hidden_field(:gen_code, :readonly => true) %>

        <div class="project-form-fields">

            <%= content_tag(:div, f.text_field(:company, class: ["form-input", "form-company"], placeholder: "Company applying to"), class: "form-item") %>

            <%= content_tag(:div, f.text_field(:position_applied, class: ["form-input", "form-position"], placeholder: "Position applying for"), class: "form-item") %>
            
            <%= content_tag(:div, f.text_field(:comp_jobid, class: ["form-input", "form-company"], placeholder: "Companies Job ID"), class: "form-item") %>

            <%= content_tag(:div, f.text_field(:response, class: ["form-input", "form-company"], placeholder: "Response from company"), class: "form-item") %>

            <%= content_tag(:div, f.text_area(:application_notes, class: ["form-input", "form-app-notes"], placeholder: "Application Notes"), class: "form-item") %>

            <%= content_tag(:p, "https://peter.koruga.com?appid=#{@app.gen_code}", class: "form-item") %>

            <div class="form-buttons">
                <%= f.submit("Edit Application", class: ["res-button", "print"]) %>
                <button class="res-button back"><%= link_to("Cancel", job_application_path(@app)) %></button>
            </div>
            
            <div class="resume-container">
                <p>Resume</p>
                <div class="floating-nav-job">
                    <% if @resume %>
                        <% if @resume.res_pdf.attached? %>
                            <button class="res-button print"><%= link_to "View PDF", url_for(@resume.res_pdf) %></button>
                            <button class="res-button print"><%= link_to "Download", rails_blob_path(@resume.res_pdf, disposition: "attachment")%></button>


                        <% end %>
                        <button class="res-button print"><%= link_to "Edit", edit_resume_path(@resume) %></button>
                    <% else %>
                        <button class="res-button print"><%= link_to "Create Resume", new_resume_path(appid: @app.id) %></button>
                    <% end %>
                </div>
                <div class="resume-pdf-container">
                    <div class="resume"></div>
                </div>
            </div>
            
        </div>
    <% end %>     
</div>
</div>