<div class="resume">

    <div class="resume-cat">
        <div class="quick">Experience</div>
    </div>
    <div class="cat-items">
        <% @projects.each do |p| %>
            <div class="cat-item">
                <div class="cat-title"><%= p.title %></div>
                <div class="intro tech">
                    <% for i in 0...p.teches.count %>
                        <% if i < p.teches.count-1 %>
                            <%= "#{p.teches[i].name}," %>
                        <% else %>
                            <%= p.teches[i].name %>
                        <% end %>
                    <% end %>
                </div>
                <div class="intro"><%= p.description %></div>
            </div>
        <% end %>
    </div>

    <div class="resume-cat">
        <div class="quick">Skills</div>
    </div>
    <div class="cat-items">
        <div class="cat-item">
            <div class="intro">
                <% if @resume %>
                    <% @resume.teches.each do |t| %>
                        <%= t.name %>
                    <% end %>
                <% else %>
                    HTML, CSS, Javascript, JQuery, Swift, Objective-C, PHP, Ruby, Rails, React, C++ (Wiring), Python, SQL, AWS
                <% end %>
            </div>
        </div>
    </div>

    <div class="resume-cat">
        <div class="quick">Certificates</div>
    </div>
    <div class="cat-items">
        <div class="cat-item">
            <div class="intro">
                <% if @resume %>
                    <% @resume.certificates.each do |c| %>
                        <%= c.title %>
                    <% end %>
                <% else %>
                    Learning React.js, Accounting Foundations: Bookkeeping, Learning Video Production and Editing, Finance Essentials for Small Business, Accounting Foundations, Bootstrap 3 Essential Training, jQuery Essential Training, Validating and Processing Forms with Javascript and PHP, InDesign CS5: Print Production Guidelines, Swift Essential Training, Distributing iOS Applications Through the App Store, Learning Python, SQL Essential Training
                <% end %>
            </div>
        </div>
    </div>

    <div class="resume-cat">
        <div class="quick">Eduction</div>
    </div>
    <div class="cat-items">
        <div class="cat-item">
            <div class="intro">Bachelors of Science from Northern Michigan University 2005</div>
        </div>
    </div>
</div>