<h1>Create Project</h1>
<br />

<div class='admin-project'>
        <%= form_for(@project) do |f| %>
            <%= hidden_field_tag(:from, @from, :readonly => true) %>

            <div class="project-form-fields">
                <%= content_tag(:div, f.text_field(:title, class: ["form-input", "form-title"], placeholder: "Title"), class: "form-item") %>
                <%= content_tag(:div, f.text_field(:intro, class: ["form-input", "form-intro"], placeholder: "Short Intro"), class: "form-item") %>
                <%= content_tag(:div, f.text_area(:description, class: ["form-input", "form-description"], placeholder: "Full Description"), class: "form-item") %>
                <%= content_tag(:div, f.collection_check_boxes( :tech_ids, Tech.all, :id, :name, class: ["form-input", "form-description"]), class: ["form-tech", "form-item"]) %>
                <div >
                    Active?
                    <%= f.radio_button(:active, true) %>
                    <%= label_tag(:active, "Yes") %>
                    <%= f.radio_button(:active, false) %>
                    <%= label_tag(:active, "No") %>
                </div>
                <%= content_tag(:div, f.text_field(:publicUrl, class: ["form-input", "form-public"], placeholder: "Public URL"), class: "form-item") %>
                <%= content_tag(:div, f.text_field(:adminUrl, class: ["form-input", "form-admin"], placeholder: "Admin URL"), class: "form-item") %>
                <%= content_tag(:div, f.text_field(:gitUrl, class: ["form-input", "form-git"], placeholder: "Github URL"), class: "form-item") %>
                <%= content_tag(:div, f.text_field(:position, class: ["form-input", "form-git"], placeholder: "Position", value: @next_pos), class: "form-item") %>
                <div class="form-item form-main image">

                </div>
                <div class="form-item form-image image">
                    <div class="form-image-con">
                        <div class="form-image-label">Main Image</div>
                        <div class="form-image-field"><%= f.file_field(:main_image) %></div>
                    </div>
                    <div class="form-main-image">
                        <% if @project.main_image.attached? %>
                            <%= image_tag(@project.main_image, class: "list-item-image")%>
                        <% end %>
                    </div>
                </div>
                <div class="form-item form-image image">
                    <div class="form-image-con">
                        <div class="form-image-label">Other Images</div>
                        <div class="form-image-field"><%= f.file_field(:image, multiple: true ) %></div>
                    </div>
                    <div class="form-main-image">
                        <% @project.image.each do |i| %>
                            <%= content_tag(:div, image_tag(i, class: "list-item-image"), class: "list-item" )%>
                        <% end %>
                    </div>
                </div>
                <div class="form-buttons">
                <%= f.submit("Save") %>
                <%= link_to("Cancel", projects_path()) %>
            </div>
            </div>
        <% end %>     
    </div>
