<div class="floating-nav">
    <button class="res-button back"><%= link_to "Back", job_application_path(@app) %></button>
    <button class="res-button print">Print</button>
</div>

<div class=".print_res">
    <div class='nd'><%= "#{@user.first_name} #{@user.last_name}" %></div>
    <div class='cd'><%= "#{@user.phone} - #{@user.email} - https://peter.koruga.com?appid=#{@appCode}" %></div>
    <div class="me-intro-d"><%= @resume.title %></div>
    <div class="hd">Experience</div>
    <div class='cat-d'>
        <div class="i-d"><%= @resume.expir_desc%></div>
        <div class="resumer-container-d">
            <% @projects.each do |p|%>
                <div class="item-d">
                    <div class="subhead-d"><%= p.title %></div>
                        <div class="i-d"><%= p.description %>
                        </div>
                </div>
            <% end %>
        </div>
    </div>
    <div class="hd">Languages - Frameworks - Systems</div>
    <div class='cat-d'>
        <div class="i-d"><%= @resume.tech_desc%></div>
        <div class="resumer-container-d">
            <div class="item-d">
                <div class="list-d">
                    <table class="other-d">
                        <tr>
                            <% @techGroups.each do |tg| %>
                                <td>
                                    <ul>
                                        <% tg.each do |t| %>
                                            <li class="rli-d"><%= t.name %></li>
                                        <% end %>
                                    <ul>
                                </td>
                            <% end %>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="hd">Certificates from Lynda.com and LinkedIn</div>
        <div class='cat-d'>
            <div class="i-d"><%= @resume.tech_desc%></div>
            <div class="resumer-container-d">
                <div class="item-d">
                    <div class="list-d">
                        <table class="other-d">
                            <tr>
                                <% @certGroups.each do |cg| %>
                                    <td>
                                        <ul>
                                            <% cg.each do |c| %>
                                                <li class="rli-d"><%= c.title %></li>
                                            <% end %>
                                        <ul>
                                    </td>
                                <% end %>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    <div class="hd">Education</div>
        <div class='cat-d'>
            <div class="i-d"><%= @resume.edu_desc%></div>
            <div class="resumer-container-d">
                <div class="item-d">
                    <div class="i-d">Bachelors of Science in Business from Northern Michigan University 2005</div>
                </div>
            </div>
        </div>
</div>