<div class=".print_res">
    <div class='n'><%= "#{@user.first_name} #{@user.last_name}" %></div>
    <div class='c'><%= "#{@user.phone} - #{@user.email} - https://peter.koruga.com?appid=#{@appCode}" %></div>
    <div class="me-intro">@resume.title</div>
    <div class="h">Experience</div>
    <div class='cat'>
        <div class="i"><%= @resume.expir_desc%></div>
        <div class="resumer-container">
            <% @projects.each do |p|%>
                <div class="item">
                    <div class="subhead"><%= p.title %></div>
                        <div class="i"><%= p.description %>
                        </div>
                </div>
            <% end %>
        </div>
    </div>
    <div class="h">Languages - Frameworks - Systems</div>
    <div class='cat'>
        <div class="i"><%= @resume.tech_desc%></div>
        <div class="resumer-container">
            <div class="item">
                <div class="list">
                    <table class="other">
                        <tr>
                            <% @techGroups.each do |tg| %>
                                <td>
                                    <ul>
                                        <% tg.each do |t| %>
                                            <li class="rli"><%= t.name %></li>
                                        <% end %>
                                    <ul>
                                </td>
                            <% end %>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="h">Certificates from Lynda.com and LinkedIn</div>
        <div class='cat'>
            <div class="i"><%= @resume.tech_desc%></div>
            <div class="resumer-container">
                <div class="item">
                    <div class="list">
                        <table class="other">
                            <tr>
                                <% @certGroups.each do |cg| %>
                                    <td>
                                        <ul>
                                            <% cg.each do |c| %>
                                                <li class="rli"><%= c.title %></li>
                                            <% end %>
                                        <ul>
                                    </td>
                                <% end %>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    <div class="h">Education</div>
        <div class='cat'>
            <div class="i"><%= @resume.edu_desc%></div>
            <div class="resumer-container">
                <div class="item">
                    <div class="i">Bachelors of Science in Business from Northern Michigan University 2005</div>
                </div>
            </div>
        </div>
</div>